.wrapperDiv {
    margin-left: 5px;
    display: inline;
}

.autocomplete {
    position: absolute;
    left: 72px;
    top: 335px;
}

.autocompleteItems {
    list-style: none;
    background: white;
    padding: 10px;
    border: 1px solid lightgrey;
}

.autocompleteItems:hover {
    background: #b8daf5;
}

